$product-color: #3146FF;
$text-color: #000;
$background-color: #F7F7F7;
$secondary-color: #01FFCB;

//fonts
$main-font: 'Roboto', sans-serif;
$minor-font: 'Poppins', sans-serif;

// metricks
$x-small: 10px;
$small: 20px;
$base: 30px;
$medium: 40px;
$large: 60px;
$x-large: 90px;
$xx-large: 120px;



