<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>PRAKTYKI SH FE 2020</title>
</head>
<body>
    <menu class="navbar">
        <nav class="navbar__main">
            <div class="navbar__logo-image"></div>
            <div class="navbar__hamburger-container">
                <img class="navbar__hamburger" src="<%= require('../assets/images/ex_logo2.png') %>" >
                <input type="checkbox">
            </div>
            <ul class="navbar__main__items">
                <li>Zonifero products</li>
                <li>Store</li>
                <li>Blog</li>
                <li class="item-globe"><img src="<%= require('../assets/images/globe.png') %>"></li>
                <li>Sign in</li>
                <li>Get the app</li>
            </ul>
        </nav>
        <nav class="navbar__minor">
            <p class="navbar__title">zonifero WorkPlace</p>
            <div class="navbar__arrow-container">
                <img class="navbar__arrow" src="<%= require('../assets/images/down-arrow.png') %>">
                <input type="checkbox">
            </div>
            <ul class="navbar__minor__items">
                <li class="nav-item-active">Overview</li>
                <li>Features</li>
                <li>Specs</li>
                <li>FAQ</li>
                <li>Contact</li>
            </ul>
        </nav>
    </menu>
    <main>
        <section class="header">
            <div class="header__container">
                <h1 class="header__main-header">Streamline <br /> your workplace</h1>
                <img class="header__image" src="<%= require('../assets/images/mob-hand.png') %>">
            </div>
            <p class="header__description">Effectively and quickly from your mobile device. Staying connected has never been easier.</p>
            <div class="header__buttons-container">
                <div class="header__button">Google Play</div>
                <div class="header__button">App Store</div>
            </div>
        </section>
        <section class="target">
            <div class="option active">
                <h2 class="option__header">Management</h2>
                <p class="option__description">
                    Tools for real-time management of all your facilities and people across multiple sites.
                    Ease, speed and effectiveness of facilities communications.
                </p>
            </div>
            <div class="option">
                <h2 class="option__header">Employees</h2>
                <p class="option__description">
                    Improved productivity and satisfaction as your employees stay informed,
                    connected and can feed requests and updates in real time.
                </p>
            </div>
            <div class="option">
                <h2 class="option__header">Visitors</h2>
                <p class="option__description">
                    A smooth and welcoming visitor experience – easy navigation around your facilities.
                </p>
            </div>
            <ul class="pins target__pins">
                <li><button class="pins__item pin-active"/></li>
                <li><button class="pins__item"/></li>
                <li><button class="pins__item"/></li>
            </ul>
        </section>
        <section class="cards">
            <h4 class="cards__description">Problem solving app</h4>
            <div class="cards__container">
                <div class="card active">
                    <img class="card__image" src="<%= require('../assets/images/desk_icon.png') %>">
                    <h3 class="card__header">Use your time and space smarter</h3>
                    <p class="card__description">
                        Never again run out of coffee or other supplies. Create an efficient hive for your busy bees.
                    </p>
                </div>
                <div class="card">
                    <img class="card__image" src="<%= require('../assets/images/desk_icon.png') %>">
                    <h3 class="card__header">Never stress about meetings again</h3>
                    <p class="card__description">
                        Zonifero will measure how you use the rooms so that you always have enough rooms available.
                    </p>
                </div>
                <div class="card">
                    <img class="card__image" src="<%= require('../assets/images/desk_icon.png') %>">
                    <h3 class="card__header">Find the right person in a breeze</h3>
                    <p class="card__description">
                        Can’t keep track of your peers in large office space? Zonifero can pinpoint their location..
                    </p>
                </div>
                <div class="card">
                    <img class="card__image" src="<%= require('../assets/images/desk_icon.png') %>">
                    <h3 class="card__header">Save your desk and room space</h3>
                    <p class="card__description">
                        Never again run out of coffee or other supplies. Create an efficient hive for your busy bees.
                        Zonifero will tell you which desks and rooms are in use and how many and which of them are idle,
                        so you can make your office more flexible and make the best use of your space.
                </div>
                <ul class="pins">
                    <li><button class="pins__item pin-active"/></li>
                    <li><button class="pins__item"/></li>
                    <li><button class="pins__item"/></li>
                    <li><button class="pins__item"/></li>
                </ul>
            </div>
        </section>
        <section class="slides">
            <h4 class="slides__header">Features</h4>
            <div class="slides__content-container">
                <div class="slides-view">
                    <img class="slides-view__image slides-view__image--mob" src="<%= require('../assets/images/mob_mobile.png') %>" >
                    <img class="slides-view__image slides-view__image--desc" src="<%= require('../assets/images/Silver.png') %>" >
                    <div class="slides-view__arrows">
                        <button class="arrow-button arrow-button--left"></button>
                        <button class="arrow-button arrow-button--right"></button>
                    </div>
                </div>
                <div class="slides-text">
                    <div class="slides-text__container">
                        <h2 class="slides-text__header">Hot desk booking. Like a pro.</h2>
                        <p class="slides-text__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique velit id finibus convallis.
                            Fusce eget purus aliquet libero euismod blandit sed eu enim. Curabitur eget arcu ut augue.
                        </p>
                    </div>
                </div>
                <div class="slides-text__footer-container">
                    <p class="slides-text__footer">View and download full specs</p>
                </div>
            </div>
        </section>
        <section class="features">
            <ul class="features__list">
                <li class="feature">
                    <div class="feature-container">
                        <h3 class="feature__header">Hot-desk booking</h3>
                        <p class="feature__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique velit id finibus convallis.
                            Fusce eget purus aliquet libero euismod blandit sed eu enim. Curabitur eget arcu ut augue.
                        </p>
                        <img class="feature__image" src="<%= require('../assets/images/down-arrow.png') %>">
                    </div>
                </li>
                <li class="feature">
                    <div class="feature-container">
                        <h3 class="feature__header">Status of employees</h3>
                        <p class="feature__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique velit id finibus convallis.
                            Fusce eget purus aliquet libero euismod blandit sed eu enim. Curabitur eget arcu ut augue.
                        </p>
                        <img class="feature__image" src="<%= require('../assets/images/down-arrow.png') %>">
                    </div>
                </li>
                <li class="feature">
                    <div class="feature-container">
                        <h3 class="feature__header">Request management</h3>
                        <p class="feature__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique velit id finibus convallis.
                            Fusce eget purus aliquet libero euismod blandit sed eu enim. Curabitur eget arcu ut augue.
                        </p>
                        <img class="feature__image" src="<%= require('../assets/images/down-arrow.png') %>">
                    </div>
                </li>
                <li class="feature">
                    <div class="feature-container">
                        <h3 class="feature__header">Hot-desk booking</h3>
                        <p class="feature__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique velit id finibus convallis.
                            Fusce eget purus aliquet libero euismod blandit sed eu enim. Curabitur eget arcu ut augue.
                        </p>
                        <img class="feature__image" src="<%= require('../assets/images/down-arrow.png') %>">
                    </div>
                </li>
                <li class="feature">
                    <div class="feature-container">
                        <h3 class="feature__header">Status of employees</h3>
                        <p class="feature__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique velit id finibus convallis.
                            Fusce eget purus aliquet libero euismod blandit sed eu enim. Curabitur eget arcu ut augue.
                        </p>
                        <img class="feature__image" src="<%= require('../assets/images/down-arrow.png') %>">
                    </div>
                </li>
                <li class="feature">
                    <div class="feature-container">
                        <h3 class="feature__header">Request management</h3>
                        <p class="feature__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique velit id finibus convallis.
                            Fusce eget purus aliquet libero euismod blandit sed eu enim. Curabitur eget arcu ut augue.
                        </p>
                        <img class="feature__image" src="<%= require('../assets/images/down-arrow.png') %>">
                    </div>
                </li>
            </ul>
        </section>
        <section class="ecosystem">
            <h1 class="ecosystem__header">Zoptymalizuj koszty i ergonomię biura z Zonifero</h1>
            <p class="ecosystem__description">
                Zarządzaj świadomie rozwojem biura, optymalizuj koszty związane z usługami i powierzchnią
                a także podnoś komfort pracy dzięki jednemu systemowi.
            </p>
            <img class="ecosystem__image" src="<%= require('../assets/images/mob_devices copy.png') %>">
            <h2 class="ecosystem__second-header">523%</h2>
            <p class="ecosystem__pharagraph">
                Długoterminowe korzyści z wdrożenia Zonifero wynoszą co najmniej 523%* w stosunku do wydanej kwoty.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor sem sit amet purus maximus, eu fringilla orci rhoncus.
                * Wyliczenia są zależne od lokalizacji biura
            </p>
        </section>
        <section class="store">
            <h2 class="store__header">Shop zonifero accesories</h2>
            <p class="store__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim felis id nisl egestas.
            </p>
            <img class="store__image" src="<%= require('../assets/images/mob_starter kit.png') %>">
            <button class="store__button">Contact us</button>
        </section>
        <section class="form">
            <ul class="form__bookmarks">
                <li class="form__bookmarks__item bookmark-active">Contact form</li>
                <li class="form__bookmarks__item form__bookmarks__item--second">Call us</li>
            </ul>
            <form class="form__contact">
                <div class="input-item">
                    <input class="input-item__field" id="name" type="text" placeholder="First name *" required>
                    <label class="input-item__label" for="name">First name *</label>
                </div>
                <div class="input-item">
                    <input class="input-item__field" id="surname" type="text" placeholder="Family name *" required>
                    <label class="input-item__label" for="surname">Family name *</label>
                </div>
                <div class="input-item">
                    <input class="input-item__field" id="email" type="email" placeholder="Your email *" required>
                    <label class="input-item__label" for="email">Your email *</label>
                </div>
                <div class="input-item">
                    <input class="input-item__field" id="phone" type="number" placeholder="Your phone" required>
                    <label class="input-item__label" for="phone">Your phone</label>
                </div>
                <div class="input-item">
                    <textarea class="input-item__field" id="message" placeholder="Message *" required></textarea>
                    <label class="input-item__label" for="message">Message *</label>
                </div>
                <button class="form__contact__button">Send message</button>
            </form>
        </section>
    </main>
</body>
</html>
