<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>PRAKTYKI SH FE 2020</title>
</head>
<body>
    <menu class="navbar">
        <nav class="navbar__main">
            <img  class="navbar__logo--image" src="<%= require('../assets/images/logo-mobile.png') %>">
            <div class="navbar__hamburger-container">
                <img class="navbar__hamburger" src="<%= require('../assets/images/ex_logo2.png') %>" >
                <input type="checkbox">
            </div>
<!--            <ul>-->
<!--                <li></li>-->
<!--            </ul>-->
        </nav>
        <nav class="navbar__minor">
            <p class="navbar__title">zonifero WorkPlace</p>
            <div class="navbar__arrow-container">
                <img class="navbar__arrow" src="<%= require('../assets/images/down-arrow.png') %>">
                <input type="checkbox">
            </div>
                <!--            <ul>-->
                <!--                <li></li>-->
                <!--            </ul>-->
        </nav>
    </menu>
    <main>
        <section class="header">
            <h1>Streamline your workplace</h1>
            <div class="header__container">
                <img src="<%= require('../assets/images/mob-hand.png') %>">
            </div>
            <p class="header__description">Effectively and quickly from your mobile device. Staying connected has never been easier.</p>
            <div>
                <img>
                <img>
            </div>
        </section>
        <section class="target">
            <div>
                <h2 class="target__header">Management</h2>
                <p>Tools for ...</p>
                <div class="pin">.</div>
            </div>
        </section>
        <section class="cards">
            <h4 class="header__second-description">Problem solving app</h4>
            <div class="card">
                <img src="logo.png">
                <h3>Use your time and space smarter</h3>
                <p>Never ...</p>
            </div>
            <div class="pins">
                <div class="pin">.</div>
            </div>
        </section>
        <section class="slides">
            <h4>Features</h4>
        </section>
    </main>
</body>
</html>
