.cards {
    width: 1440px;
    margin: 0 auto;

    &__container {
        display: flex;
    }

    &__description {
        @include h4-header;
        padding: $medium $small;
    }

    @include for-phone-only {
        width: 100%;
        &__container {
            flex-direction: column;
        }
    }
}

.card {
    padding: $large;
    background-color: white;
    width: 310px;
    margin: 0 $x-small;

    &__image {
        display: block;
        margin: 0 auto;
        padding-bottom: $large;
    }

    &__header {
        @include h3-header;
        padding: $small 0;
    }

    &__description {
        @include pharagraph-text;
    }

    @include for-phone-only {
        width: 100%;
        display: none;
        padding: $small;
        margin: 0;

        &__header {
            padding: $small 0;
        }

        &--active {
            display: block;
        }
    }
}

.cards-pins {
    background-color: white;
    display: none;

    @include for-phone-only {
        display: block;
    }
}
