.ecosystem {
    &__header {
        @include big-header($text-color);
    }

    &__description {
        @include description-header;
    }

    &__second-header {
        @include h2-header;
    }

    &__pharagraph {
        @include pharagraph-text;
    }
}

@media only screen and (max-width: 480px) {
    .ecosystem {
        &__header {
            font-size: 40px;
            padding: $large $small;
        }

        &__description {
            font-size: 22px;
            padding: $small;
            line-height: 32px;
        }

        &__second-header {
            padding: $medium $small;
        }

        &__pharagraph {
            padding: 0 $small $x-large $small;
        }
    }
}
