.features {
    background-color: white;
}

.features__list {
    list-style-type: none;
    width: 1440px;
    margin: $x-large auto 0 auto;
}

.feature {
    &__description {
        display: none;
    }

    &__header {
        @include h3-header;
        padding: $small;

        &--active {
            color: $product-color;
        }
    }

    &__image {
        width: 11px;
        height: 6px;
        margin-right: $small;
    }
}

.feature-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $background-color;
}

@include for-tablet-only{
    .features__list {
        width: 100%;
        margin: 0 auto;
    }
    .feature {
        &__header {
            @include h3-header;
            padding: $small;
        }
    }
}
