.navbar {
    height: 210px;
    background-color: white;

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding-left: $large;
    }

    &__minor {
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo-image {
        background-image: url("../images/logo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: static;
        height: 25px;
        width: 127px;
    }

    &__hamburger-container {
        display: none;
        input {
            visibility: hidden;
        }
    }

    &__arrow-container {
        display: none;

        input {
            visibility: hidden;
        }
    }

    &__main__items {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: $small;
        width: 790px;
        font-family: Roboto;
        font-size: 13px;

        li:hover {
            cursor: pointer;
        }
    }

    &__minor__items {
        @include h4-header;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: $small;
        width: 850px;

        li:hover {
            cursor: pointer;
        }
    }

    @include for-tablet-only {
        &__main__items {
            width: 400px;
        }

        &__logo-image {
            height: 25px;
            width: 33px;
            position: absolute;
            top: $small;
            left: $small;
            background-image: url("../images/logo-mobile.png");
        }
    }

    @include for-phone-only {
        height: 60px;
        padding: 0 $small 0 $x-large;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__hamburger-container {
            display: block;
        }

        &__main {
            order: 3;
            padding-left: 0;
        }

        &__title {
            font-family: $main-font;
            font-size: 15px;
        }

        &__arrow-container {
            display: block;
            padding-left: $x-small;
        }

        &__arrow {
            widht: 11px;
            height: 6px;
        }

        &__hamburger {
            widht: 14px;
            height: 13px;
        }

        &__main__items {
           display: none;
        }

        &__minor__items {
            display: none;
        }
    }
}

.nav-item-active {
    font-weight: 700;
    position: relative;


    &::after {
        position: absolute;
        margin-top: $x-small;
        display: block;
        content: "";
        background-color: #00FFCC;
        height: 3px;
        width: 30px;
    }
}
