.pins {
    list-style-type: none;

    @media only screen and (max-width: 480px) {
        & {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: $base;
        }

        &__item {
            @include pin;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.pin-active {
    background-color: $product-color;
}
