.target {
    background-color: $background-color;
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: $base auto;

    &__pins {
        display: none;
    }

    @include for-tablet-only {
        padding: $small;
        flex-direction: column;
        margin: 0;
        width: 100%;

        &__pins {
            display: flex;
        }
    }
}

.option{
    width: 25%;

    &__header {
        @include h2-header;
    }

    &__description {
        @include pharagraph-text;
    }

    @include for-tablet-only {
        display: none;
        padding: $medium 0;
        width: 100%;

        &__header {
            padding-bottom: $medium;
        }

        &__description {
            @include pharagraph-text;
        }
    }
}

.active {
    display: block;
}



